img{
    max-width: 100%;
    border-radius: 1px;
}
.img-raised{
    box-shadow: $box-shadow-raised;
}

.landing-img{
    height: 150px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.landing-img-lg{
    height: 200px;
}